<div class="product-page">
  <a href="/products">Voltar</a>
  <h1>{{product.name}}</h1>
  <p>Preço: R${{product.price}}</p>
  <img src="{{product.image}}" alt="{{product.name}}">
  <p>{{product.description}}</p>
  <form action="/products/remove/{{product._id}}" method="post">
    <input type="submit" value="Excluir" class="btn">
  </form>
</div>